<?xml version="1.0"?>
<DataSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DataProvider>sqlserver</DataProvider>
  <DataConnectionString>data source=115.28.36.43,62003;initial catalog=TBS;persist security info=True;user id=sa;password=1qaz2wsxEDC;MultipleActiveResultSets=True;</DataConnectionString>
</DataSettings>